body{
    background-image: url(піпка.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(0, 162, 187);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    display: flex;
    justify-content: center;
}
a:hover{
    text-decoration: underline;
    color: rgb(0, 148, 0);
}
img{
    display: flex;
}
h1{
    color: rgb(0, 0, 0);
    font-size: 25px;
}